<header class="masthead bg-primary text-white text-center" id="home">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img
      class="masthead-avatar mb-5"
      src="../../assets/profile_pic_square.jpeg"
      alt=""
      id="profilePic"
    />
    <!-- Masthead Heading-->
    <h2 class="masthead-heading text-uppercase mb-0">Michael Curtis</h2>

    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0" id="titles">
      Full Stack Developer - Web Designer
    </p>
  </div>
</header>
