<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          918 Hill St.
          <br />
          Greensboro, NC 27408
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://www.linkedin.com/in/michaelpbcurtis/"
          target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
        <a
          class="btn btn-outline-light btn-social mx-1"
          href="https://github.com/mcereal"
          target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Portfolio</h4>
        <p class="lead mb-0">
          Portfolio utilizes
          <a href="https://startbootstrap.github.io/startbootstrap-freelancer/"
            >Freelancer</a
          >, <a href="https://angular.io/">Angular</a>, and
          <a href="https://ng-bootstrap.github.io/#/home">NG Bootstrap</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright © Michael Curtis 2020</small></div>
</div>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
  <a
    class="js-scroll-trigger d-block text-center text-white rounded"
    href="#page-top"
    ><i class="fa fa-chevron-up"></i
  ></a>
</div>
