<section class="page-section text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      About
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">
          My name is Michael Curtis. I was born in Greensboro, NC where I
          currently reside. I graduated from UNC Greensboro with a BA in
          Sociology. I have been employed in the LTL industry for nine years
          with FedEx Freight. I started as part-time Freight Handler during
          college and after graduation I moved into a full-time roll and was
          eventually promoted into leadership role as an Operations Supervisor.
          From there I moved into the Freight Analysis department and I am
          currently am a Weight/ Dimensions Validations Specialist in the
          Operations Technology Department.
        </p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">HTML/CSS/Javascritp</p>
        <p class="lead">Node.JS</p>
        <p class="lead">Angular/Typescript</p>
        <p class="lead">Jquery</p>
        <p class="lead">Bootstrap</p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a
        class="btn btn-xl btn-outline-light"
        href="../../assets/Michael_Curtis_Resume_2020.docx"
      >
        <i class="fa fa-download mr-2"></i>
        Download Resume
      </a>
    </div>
  </div>
</section>
