<section class="page-section text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">
      About
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fa fa-id-card"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">
          I began developing in the Summer of 2020 while I was enrolled as a
          student in UNC Chapel Hill's Full Stack Flex program. I have been
          employed in the LTL industry for nine years with FedEx Freight. I
          started as part-time Freight Handler during college and have
          progressed to my current role as a Weight/ Dimensions Validations
          Specialist in the Operations Technology Department. I hope to utilize
          my newfound development skills to grow my career even further.
        </p>
      </div>
      <div class="col-lg-4 mr-auto">
        <h3>Skill Set:</h3>
        <p class="lead">HTML/CSS/Javascript</p>
        <p class="lead">Angular/Typescript</p>
        <p class="lead">Node.JS</p>
        <p class="lead">Firebase</p>
        <p class="lead">Jquery</p>
        <p class="lead">Bootstrap</p>
      </div>
    </div>
    <!-- About Section Button-->
    <div class="text-center mt-4">
      <a
        class="btn btn-xl btn-outline-light"
        href="../../assets/Michael_Curtis_Resume_2020.docx"
      >
        <i class="fa fa-download mr-2"></i>
        Download Resume
      </a>
    </div>
  </div>
</section>
