<nav
  class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
  id="mainNav"
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" (click)="toHome()"
      ><i class="fa fa-code"></i
    ></a>

    <button
      class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-secondary text-white rounded"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <i class="fa fa-bars fa-2x"></i>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            href="#contact"
            (click)="isMenuCollapsed = true"
            >Contact</a
          >
        </li>
        <li class="nav-item ml-auto">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            (click)="toPortfolio()"
            (click)="isMenuCollapsed = true"
            >Portfolio</a
          >
        </li>
        <li class="nav-item ml-auto">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            (click)="toAbout()"
            (click)="isMenuCollapsed = true"
            >About</a
          >
        </li>
        <!-- <li class="nav-item ml-auto">
          <a
            class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
            (click)="isMenuCollapsed = true"
            ><i class="fa fa-cog"></i
          ></a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
