<app-navbar></app-navbar>
<main class="container col-sm-12 col-md-6 col-lg-6" id="portfolioPage">
  <div class="row">
    <div class="col-12">
      <h1>Portfolio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12" id="portfolioPics">
      <img src="../../assets/sept-8_code_refactor_HW.png" alt="Code Refactor" />
      <img src="../../assets/prework-about-me.png" alt="prework-about-me" />
    </div>
    <div class="col-12">
      <img
        src="../../assets/GithubPagesPersonal.png"
        alt="GithubPagesPersonal"
      />
      <img
        src="../../assets/responsive_portfolio.png"
        alt="responsive_portfolio"
      />
    </div>
    <div class="col-12">
      <img src="../../assets/BootstrapDemo.png" alt="BootstrapDemo" />
    </div>
  </div>
</main>
